/* Define color palette */
:root {
  --accent-color: #1e3a8a; /* Dark Blue */
  --secondary-color: #2c3e50; /* Dark Gray */
  --primary-color: #ff6f61; /* Orange */
  --background-color: #f2f0e3; /* Muted White */
  --highlight-color: #34495e; /* Dark Gray */

  /* Font sizes */
  --font-size-base: 18px;
  --font-size-small: 16px;
  --font-size-large: 20px;
  --font-size-xlarge: 24px;
  --font-size-xxlarge: 32px;
}
/* CSS Reset and default style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: inter, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

#MyPhoto {
  border-radius: 50%;
  border-color: black;
  border-width: 10px;
  border-style: solid;
  height: 250px;
  width: 250px;
}

#MyPhoto:hover {
  border-color: var(--accent-color);
  transition: ease-in-out 0.5s;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#Banner {
  font-size: var(--font-size-large);
  color: var(--primary-color);
}

#Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#Navbar > li {
  margin: 0 1rem;
}

#Navbar > li > a {
  transition: ease-in-out 0.2s;
  padding: 10px;
}

#Navbar > li > a:hover {
  color: var(--accent-color);
  /* border: 1px solid var(--highlight-color); */
  background-color: #e5e3d7;
  color: #ff7f11;
  padding: 10px;
  border-radius: 8px;
  transition: ease-in-out 0.2s;
}

#Tagline {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  gap: 6rem;
}

#Intro {
  font-size: var(--font-size-large);
  color: var(--secondary-color);
}

.quote {
  font-style: italic;
}

#MyName {
  font-size: var(--font-size-large);
  transition: ease-in-out 0.5s;
}
#MyName:hover {
  color: var(--primary-color);
}

/* --------------------------- PROJECTS----------------------------- */
#Projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
}

.secHead {
  text-align: center;
  /* font-style: bold; */
  font-size: var(--font-size-xlarge);
}

#ProjectsContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.projectCard {
  width: 375px;
  min-height: 150px;
  padding: 0.5rem;
  border-radius: 8px;
  /* border: 1px solid var(--highlight-color); */
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectCard > h3 {
  text-align: center;
  padding: 0.5rem;
  height: 4rem;
  /* color: var(--accent-color); */
  font-weight: bold;
  border-radius: 8px;
  align-self: center;
  font-size: var(--font-size-large);
}

.projectCard > p {
  text-align: center;
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 2.5rem;
  transition: transform 0.3s ease;
  font-size: var(--font-size-base);
}

.projectCard:hover > p {
  overflow: visible;
  white-space: normal;
  height: auto;
  transform: translateY(-10px);
}

.projectCard:hover {
  border-color: var(--accent-color);
  transform: translateY(-10px);
  background-color: #e5e3d7;
  /* transition-timing-function: ease-in-out;
  transition: 0.2s; */
}
*
  ------------------ACHIEVEMENTS------------------------------
  */
  #Achievements {
  padding: 2rem;

  color: var(--secondary-color);
}

#Achievements .secHead {
  text-align: center;
  font-size: var(--font-size-xlarge);
  margin-bottom: 1rem;
}
.certificatesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.certificateCard {
  /* border: 1px solid var(--highlight-color); */
  border-radius: 8px;
  padding: 1rem;
  width: 375px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.certificateCard:hover {
  background-color: #e5e3d7;
  transform: translateY(-10px);
}

.certificateCard h3 {
  margin-bottom: 0.5rem;
  font-weight: bold;
  /* color: var(--accent-color); */
  font-size: var(--font-size-large);
}

.certificateCard p {
  margin: 0.25rem 0;
  color: var(--secondary-color);
  font-size: var(--font-size-base);
}

/* #SectionWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 2rem 0rem;
} */
/* ----------------------ABOUT ME---------------------------- */
#AboutMe {
  padding: 2rem 0rem;
  color: var(--secondary-color);
}

#AboutMe .secHead {
  text-align: center;
  font-size: var(--font-size-xlarge);
  margin-bottom: 1rem;
}

#MeCard {
  background-color: var(--background-color);
  /* border: 1px solid var(--highlight-color); */
  border-radius: 8px;
  padding: 1rem;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin: auto;
}

.resume-button {
  display: block;
  margin-top: 1rem;
  margin: auto;
  width: 200px;
  padding: 0.75rem 1.5rem;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: var(--font-size-base);
}

.resume-button:hover {
  background-color: var(--accent-color);
}

/* ----------------CONTACT---------------------------------------------- */
#ContactContainer {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--background-color);
  border-radius: 8px;
  /* border: 1px solid var(--highlight-color); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contactForm {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: var(--font-size-base);
  color: var(--secondary-color);
}

.form-group input,
.form-group textarea {
  padding: 0.5rem;
  border: 1px solid var(--highlight-color);
  border-radius: 4px;
  font-size: var(--font-size-base);
  background-color: var(--off-white);
  color: var(--secondary-color);
}

button[type="submit"] {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: var(--font-size-base);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--accent-color);
}
/* --------------------FOOTER---------------------------------------------- */
#Socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

#Socials > a {
  height: 50px;
  width: 50px;
  padding: 0.5rem;
}

#Socials > a img {
  width: 100%;
  height: auto;
  align-self: center;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--secondary-color);
  color: #fff;
}

/* ----------------MEDIA QUERIES-------------------- */

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #Banner {
    font-size: var(--font-size-large);
    color: var(--primary-color);
  }

  #Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #Navbar > li {
    margin: 0.5rem 1rem;
  }

  #Tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    gap: 6rem;
  }

  #ProjectsContainer {
    justify-content: center;
  }

  #Socials > a {
    margin: 0.5rem 0;
  }

  #MeCard,
  #ContactContainer {
    width: 95%;
  }
}

@media (max-width: 480px) {
  #Navbar > li {
    margin: 0.5rem 0.5rem;
  }

  body {
    font-size: var(--font-size-small);
  }

  #Banner {
    font-size: var(--font-size-large);
  }

  .secHead {
    font-size: var(--font-size-large);
  }

  #ProjectsContainer {
    flex-direction: column;
    align-items: center;
  }

  #MeCard,
  #ContactContainer {
    width: 95%;
  }
}
